.main-footer{
    position: absolute;
    height: $header-height;
    width: $header-widht;
    background-color: var(--first-color);
    left: 10%;/* Negative half of width. */
    border-radius: 2rem 2rem 0 0;
    z-index: 1000;
    bottom: 0;
    color: white;
}

.main-footer .main-utilities_item{
    padding: 1.5rem;
}

.main-footer .main-header_block{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 4.5rem;
}

.main-footer .main-icon{
    height: 5rem;
    width: 5rem;
}