.sliderShop{
    top:45rem;
    position: absolute;
    width: 100%;
    //background-color: blueviolet;
    padding: 1px 1px 5rem;
}

.sector{
    margin: 2vw 14vw;
    height: 26rem;
    //background-color: brown;
}

.cardShop{
    background-color: #ffb484;
    width: 100%;
    //margin: 0.2rem;
    min-width: 10rem;
    height: 26rem;
    //border-radius: 0.2rem;
    //box-shadow: 0 0 5px 3px rgb(73, 73, 73);
    text-align: center;
}

.cardss{
    width: 18rem;
    min-width: 18rem;
    height: 25rem;
    margin: 0.5rem auto;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0 5px 3px rgb(73, 73, 73);
}

.cardLogo{
    width: 100%;
    height: 100%;
    //background: pink;
    padding: 0.1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MarcaLogo{
    padding: 0.1px;
    display: block;
    width: 80%;
}

.headerCard{
    width: 100%;
    height: 12rem;
    //background-color: aqua;

    padding: 0.1px;
}

.ItemImage{
    object-fit: fill;
    width: 90%;
    height: 90%;
    margin: 0.5rem auto;
}

.bodyCard{
    width: 100%;
    height: 9.5rem;
    //background-color: darkred;
    padding: 0.1px;
}

.bodyCard > h1{
    font-size: 1.5rem;
    color: var(--black-color);
    margin: 5px;
}

.bodyCard > p{
    color: var(--black-color);
    margin: 0 0.5rem 0 0.5rem;
}

.footerCard{
    width: 100%;
    height: 3.5rem;
    //background-color: chartreuse;
}

.footerItems{
    margin: 0 0.5rem 0 0.5rem;
    display: flex;
    padding: 0.1px;
    justify-content: space-around;
    align-items: center;
}

.footerButton{
    width: 8rem;
    height: 2rem;
    border-radius: 25rem;
    background: #1A9CE5;
    border: none;
    color: white;
}

.footerButton:hover{
    background: #157cb7;
}

.footerButton:active{
    transform: scale(0.9);
}

.footerButton:focus{
    border: none;
    outline: none;
}

.footerInfo{
    width: 2rem;
    height: 2rem;
    background: aquamarine;
    margin: 0.75rem 0;
}

.footerPlay{
    width: 2rem;
    height: 2rem;
    background: black;
    margin: 0.75rem 0;
}

.slick-prev:before, .slick-next:before{
    opacity: 1;
}

.slick-arrow{
    height: 26rem;
    background-color: var(--first-color);
}

.slick-arrow:hover{
    background-color: #de5903;
}

.slick-arrow:focus{
    background-color: #de5903;
}

.slick-prev{
    border-radius: 0.5rem 0 0 0.5rem;
}

.slick-next{
    border-radius: 0 0.5rem 0.5rem 0;
}