:root {
  --first-color: #f96302;
  --black-color: #2f2f2f;
  --secondary: #2f2f2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: var(--body-font-size);
  padding: 1;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

.l-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.main-header {
  position: fixed;
  height: 5rem;
  width: 80%;
  background-color: var(--first-color);
  left: 10%;
  /* Negative half of width. */
  border-radius: 0 0 2rem 2rem;
  z-index: 1000;
}

.main-header_block {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.main-logo {
  height: 3rem;
}

.main-icon {
  height: 4.5rem;
  width: 4.5rem;
}

.main-utilities {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 13rem;
  display: flex;
}

.main-utilities_item {
  padding: 1rem;
}

.user_name {
  color: white;
  font-weight: bold;
}

.main-footer {
  position: absolute;
  height: 5rem;
  width: 80%;
  background-color: var(--first-color);
  left: 10%;
  /* Negative half of width. */
  border-radius: 2rem 2rem 0 0;
  z-index: 1000;
  bottom: 0;
  color: white;
}

.main-footer .main-utilities_item {
  padding: 1.5rem;
}

.main-footer .main-header_block {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 4.5rem;
}

.main-footer .main-icon {
  height: 5rem;
  width: 5rem;
}

.circle {
  width: 100%;
  height: 45rem;
  z-index: -1;
  position: absolute;
  background-color: #F2F2F2;
  border-radius: 0 0 8rem 0;
}

.wrapper {
  pointer-events: all;
  box-shadow: 0 0 4px 4px grey;
  border-radius: 0.5rem;
  position: relative;
  width: 60vw;
  height: 40vh;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  padding: 4rem 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  appearance: none;
  z-index: 100;
  margin-right: 1rem;
  width: 1rem;
  height: 1rem;
  background: grey;
  border-radius: 50%;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:checked {
  background: var(--first-color);
}

input + * {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #ddd;
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input:checked + * {
  transform: translateX(0);
  z-index: 1;
}

input + * + *:not(input[type=radio]) {
  display: none;
}

.sliderShop {
  top: 45rem;
  position: absolute;
  width: 100%;
  padding: 1px 1px 5rem;
}

.sector {
  margin: 2vw 14vw;
  height: 26rem;
}

.cardShop {
  background-color: #ffb484;
  width: 100%;
  min-width: 10rem;
  height: 26rem;
  text-align: center;
}

.cardss {
  width: 18rem;
  min-width: 18rem;
  height: 25rem;
  margin: 0.5rem auto;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px 3px #494949;
}

.cardLogo {
  width: 100%;
  height: 100%;
  padding: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MarcaLogo {
  padding: 0.1px;
  display: block;
  width: 80%;
}

.headerCard {
  width: 100%;
  height: 12rem;
  padding: 0.1px;
}

.ItemImage {
  object-fit: fill;
  width: 90%;
  height: 90%;
  margin: 0.5rem auto;
}

.bodyCard {
  width: 100%;
  height: 9.5rem;
  padding: 0.1px;
}

.bodyCard > h1 {
  font-size: 1.5rem;
  color: var(--black-color);
  margin: 5px;
}

.bodyCard > p {
  color: var(--black-color);
  margin: 0 0.5rem 0 0.5rem;
}

.footerCard {
  width: 100%;
  height: 3.5rem;
}

.footerItems {
  margin: 0 0.5rem 0 0.5rem;
  display: flex;
  padding: 0.1px;
  justify-content: space-around;
  align-items: center;
}

.footerButton {
  width: 8rem;
  height: 2rem;
  border-radius: 25rem;
  background: #1A9CE5;
  border: none;
  color: white;
}

.footerButton:hover {
  background: #157cb7;
}

.footerButton:active {
  transform: scale(0.9);
}

.footerButton:focus {
  border: none;
  outline: none;
}

.footerInfo {
  width: 2rem;
  height: 2rem;
  background: aquamarine;
  margin: 0.75rem 0;
}

.footerPlay {
  width: 2rem;
  height: 2rem;
  background: black;
  margin: 0.75rem 0;
}

.slick-prev:before, .slick-next:before {
  opacity: 1;
}

.slick-arrow {
  height: 26rem;
  background-color: var(--first-color);
}

.slick-arrow:hover {
  background-color: #de5903;
}

.slick-arrow:focus {
  background-color: #de5903;
}

.slick-prev {
  border-radius: 0.5rem 0 0 0.5rem;
}

.slick-next {
  border-radius: 0 0.5rem 0.5rem 0;
}

.sesion {
  margin: 1rem auto;
  text-align: center;
  width: 80%;
  padding: 0.1px;
}

.sesion input::placeholder {
  text-align: center;
}

.sesion input {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
  padding: 0;
  background-color: #dddddd;
  border: none;
  text-align: center;
  margin-right: 0px;
}

.input {
  width: 80%;
}

.inputUser {
  margin-bottom: 2rem;
  display: flex;
}

.tapeButton {
  width: 14%;
  margin: 0 1%;
  height: 2rem;
  box-shadow: 0 0 5px 0.1px #989898;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tapeButton:hover {
  box-shadow: none;
}

.tapeButton:active {
  transform: scale(0.7);
}

.labelUser {
  margin-bottom: 0.5rem;
  text-align: left;
}

.ajs-modal .ajs-header {
  text-align: center;
  background-color: var(--first-color);
  color: white;
}

.ajs-modal .ajs-footer {
  background-color: var(--first-color);
}

.ajs-modal .ajs-dialog {
  border-style: none;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
  text-align: right;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button.ajs-ok {
  background-color: red;
  color: white;
  border-style: none;
  border-radius: 0.5em;
  box-shadow: black 0 0 2px 0.1px;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button.ajs-ok:hover {
  background-color: #c20404;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary .ajs-button.ajs-ok:focus {
  border-style: none;
}

.buttons {
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
}

.buttonSesion, .buttonRegister, .buttonRegister2, .buttonOlvido {
  padding: 1em;
  font-weight: bold;
  border-radius: 1.5em;
}

.buttonSesion {
  background: var(--first-color);
  color: white;
}

.buttonRegister {
  background: white;
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.buttonSesion:hover {
  background: #c44c01;
  color: white;
}

.buttonRegister:hover {
  background: white;
  border: none;
  color: #c44c01;
  border: 1px solid #c44c01;
}

.buttonRegister2 {
  background: white;
  display: inline;
  color: #31e300;
  border: 1px solid #31e300;
}

.buttonRegister2:hover {
  background: white;
  color: #26b000;
  border: 1px solid #26B000;
}

.titlereg {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
  color: var(--black-color);
  font-weight: bold;
}

.bodyregister {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 1rem 0 1.5rem 0;
}

.zonaregistro {
  display: none;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0.1px #989898;
}

.forgotButton {
  margin: 0 4em;
  margin-bottom: 1em;
  padding: 1em;
  color: #1A9CE5;
  border-radius: 0.5em;
}

.zonaOlvido {
  display: none;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: #f3f3f3;
  box-shadow: 0 0 5px 0.1px #989898;
}

.bodyOlvido {
  width: 90%;
  height: 90%;
  margin: auto;
  padding: 1rem 0 1.5em 0;
}

.buttonOlvido {
  background: white;
  display: inline;
  color: #31e300;
  border: 1px solid #31e300;
}

.buttonOlvido:hover {
  background: white;
  color: #26b000;
  border: 1px solid #26B000;
}

.forgotButton:hover {
  color: #1476ac;
  background-color: #f1f1f1;
}

.teal {
  z-index: 5000;
  background-color: rgba(55, 55, 55, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}

svg.tea {
  --secondary: var(--first-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg.tea #teabag {
  transform-origin: top center;
  transform: rotate(3deg);
  animation: swing 2s infinite;
}

svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}

svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}

@-moz-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-webkit-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-o-keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}
@-moz-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-o-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-moz-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-o-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
.closed {
  display: none;
  z-index: -1;
  position: absolute;
  right: 0rem;
  top: 40px;
  background: var(--first-color);
  padding: 3em 1em 1em 1em;
}

.closedButton {
  text-align: center;
  display: flex;
  background: red;
  width: 8em;
  justify-content: center;
  align-items: center;
  height: 2em;
  color: white;
  border-radius: 0.5em;
  font-weight: bold;
}

.closedButton:hover {
  background: #b30e0e;
}

.datosRegis {
  display: none;
}

.carritoS {
  display: none;
  z-index: 1;
  position: absolute;
  right: 0rem;
  top: 40px;
  background: #ffaf84;
  padding: 3.5em 1em 1em 1em;
  overflow-y: scroll;
  max-height: 21rem;
  min-width: 20rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.barra {
  z-index: 500;
  position: fixed;
  height: 5rem;
  width: 80%;
  left: 10%;
  /* Negative half of width. */
  border-radius: 0 0 2rem 2rem;
}

.cardCarrito {
  width: 20vw;
  height: 5rem;
  background-color: white;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
  min-width: 20rem;
  box-shadow: 0 0 5px 0.1px #989898;
}

.total {
  background-color: white;
}

.itemsC, .totalI {
  width: 50%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  color: #565555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comprar {
  margin-bottom: 0px;
  background-color: #54d931;
  display: flex;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.comprar:hover {
  opacity: 0.2;
  background-color: #43bc23;
}

.comprar:active {
  transform: scale(0.9);
}

.imgC {
  width: 25%;
  height: 100%;
  border-radius: 0.5em 0em 0em 0.5em;
  margin: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentC {
  width: 80%;
  height: 100%;
  display: flex;
}

.elC {
  color: white;
  width: 15%;
  height: 100%;
  background-color: #ec3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0em 0.5em 0.5em 0em;
}

.elC:hover {
  background-color: #d42121;
}

.elC:active {
  transform: scale(0.9);
}

.titleC {
  width: 75%;
  max-width: 12rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.yei {
  white-space: pre-line;
  margin: 0.5em;
  font-weight: bold;
}

.cost {
  background-color: #d8ffcd;
  color: #55b33a;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.money {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  left: 50px;
  transform: translate(15%);
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.moner_c {
  width: 60%;
}

.repeter {
  color: #565555;
  font-weight: bold;
}

.r2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noti {
  opacity: 0;
  transition: 1s opacity;
  border-radius: 100%;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background-color: #c20404;
  padding: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 180px;
}

.noti_d {
  color: white;
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
